<!-- 작품 공유페이지 -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'music/header.html' %}
         <!-- This imports magenta.js on the page -->
        <script src="https://cdn.jsdelivr.net/npm/@magenta/music@1.0.0"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.js"></script>
        <script src="https://unpkg.com/ml5@0.5.0/dist/ml5.min.js"></script>
        <script src='{% static "js/sketch.js"%}'></script>
        <style>
            body {
              background-color: #EEE;
            }
          </style>
    </head>
    
    <body>
        <h1>DoodleNet</h1>
                        <button id="clearBtn">Clear Canvas</button>
                        <p><span id="label"></span> (<span id="confidence"></span>%)</p>
    </body>
</html>
